<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>College Hippo App Home Page</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>College Hippo App Home Page</h1>
    <p>This is an home page, but you can access the secured pages after authenticating:</p>
    <ul>
        <li>Go to the   <a th:href="@{/autocomplete}">autocomplete API test page</a></li>
    </ul>
</div>
</body>
</html>